@page "/pizza/compra-realizada"
<h3>Compra Realizada</h3>
<div class="row">
    <div class="col-8">
        <h4>Obrigado pela sua compra</h4>
        <a href="/pizza/meuspedidos">Meus Pedidos</a>
    </div>
</div>
