@page "/pizza/home"


<h1>Bem vindo a Pizzara</h1>

<div class="row">
    <div class="col-3">
        <ul class="list-group">
            <NavLink href="/pizza/lista" class="nav-link">
                <li class="list-group-item">
                    <span class="oi oi-pie-chart"></span> Lista de Pizzas
                </li>
            </NavLink>
        </ul>
        <ul class="list-group">
            <NavLink href="/pizza/nova" class="nav-link">
                <li class="list-group-item">
                    <span class="oi oi-plus"></span> Nova Pizza
                </li>
            </NavLink>
        </ul>
    </div>
</div>
@code {

}
