
.list-pizza-item {
    display: flex;
    flex-direction: row;
    border: 1px #eee solid;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 6px;
    transition: background-color .2s ease-in;
}

    .list-pizza-item:hover {
        background-color: #eee;
    }

    .list-pizza-item > img {
        width: 90px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.list-pizza-description {
    width: 100%;
    margin-left: 6px;
    display: grid;
    grid-template-areas: "text price action";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

}
.list-pizza-text {
    grid-area: text;
}

.list-pizza-price {
    grid-area: price;
    display: block;
    margin-left: 12px;
    font-size: 1.5rem;
}

    .list-pizza-price::before {
        content: 'R$ ';
        font-size: 1rem;
        font-weight: bold;
        font-style: italic;
    }

.list-pizza-action {
    grid-area: action;
    margin-left: 2rem;
    justify-self: flex-end;
}
