@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
   
    box-shadow: 0 0 0 0.1rem rgb(38 176 80 / 25%);
}

.invalid {
  
    box-shadow: 0 0 0 0.18rem rgb(220 37 69 / 25%);
}


.validation-message {
    color: #dc3545;
    font-size: 0.8rem;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }




.img-vazia {
    border-radius: 8px;
    border: 1px #ccc solid;
    background: url('data:image/webp;base64,UklGRrwBAABXRUJQVlA4ILABAADQIgCdASosAcoAPp1Mn0ulpCKhpPV6GLATiWlu4WxhFzOxpigSyJMeWPCMnkBVwrn4jIk0426qvJ9IPgAiWeg8okrJaPzco3IepS0pZo5CzFmO7+HTj3uro5BiKOCWYVmNKo1VJflnaUxfle8PAIlMUZhYsIonF4eFQYTEUk/FILvl+aI4ghjHtCB526PwisoBF2sP8iq9Vjhi6cc6b6JZVomCkZ7g3N5cwUtTlVZoCDa9hyQ9Ir8SLKWeg9HQtm4zCROw1Nxf5rWk5vYmkcM+y+21Rt+dUGVSjMcNu47Jc/YOHwwbYdxbxnwWI2RvuFpvfjYbFX12gn5rIstI+baY835g26qvJ9HNvCVHtjPZ25mU39OQPZN/VZmZAIF2AAD+/mWdcUuDndgwVz3oxeqwWWljPhFBZmWA6/srq22gDZYnJgLGuwAgOjAXiQoAj7o+lDLACuMhdXdyrPF8LmQtC/ZGz3hCe/gAIVoO4v0F09yoS7LNMYAQWv0lBWHqhP4eu0px/RYfkFNFxZgSrt+9jNJ7jDe2hT/6s5wkvposFHYLAvFvVP2bfWaqZ13AAAA=');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    max-height: 120px;
}